/* src/styles/index.css */

/* Reset de margin e padding para o body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Escolha a fonte desejada */
  background-color: #f8f9fa; /* Cor de fundo geral */
}

/* Estilos para cabeçalhos */
h1,
h2,
h3 {
  color: #fff; /* Texto em branco */
}

/* Estilos para botões */
.button {
  background-color: #343a40; /* Preto escuro */
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave para a mudança de cor */
}

.button:hover {
  background-color: #dc3545; /* Vermelho vibrante ao passar o mouse */
}

/* Estilos para cabeçalho */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40; /* Cor de fundo escura */
  padding: 10px 20px;
}

.logo {
  flex: 1; /* Ocupa o espaço restante */
}

.logo img {
  height: 50px; /* Ajuste a altura conforme necessário */
  width: auto; /* Mantém a largura proporcional à altura */
}

.nav ul {
  list-style-type: none;
  display: flex;
}

.nav ul li {
  margin-right: 20px;
}

.nav ul li a {
  color: #fff; /* Texto em branco */
  text-decoration: none;
}

.nav ul li a:hover {
  text-decoration: underline;
}
