/* src/components/Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40; /* Cor de fundo escura */
  padding: 10px 20px;
}

.logo a {
  color: #fff; /* Texto em branco */
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.logo a:hover {
  text-decoration: underline;
}

.nav ul {
  list-style-type: none;
  display: flex;
}

.nav ul li {
  margin-right: 20px;
}

.nav ul li a {
  color: #fff; /* Texto em branco */
  text-decoration: none;
}

.nav ul li a:hover {
  text-decoration: underline;
}
